@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
.container {
  background: rgba(0, 0, 3, 1);
  color: white;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Orbitron, sans-serif;
}

/* TOP BAR */

.topBar {
  display: flex;
  gap: 30px;
  padding: 15px 32px;
  
}
.levelandplus{
    display:flex;
    align-items: center;
    width:15%;
    justify-content: space-between;

}

.level {
  color: #00ff88;
  font-size: 13px;
  font-size: 26px;
  font-weight: 743;
  letter-spacing: 1px;
  font-family: "Big Shoulders", sans-serif;
  display: flex;
  gap:2px;
  align-items: flex-end;
}
.icon{
    border: 1px solid rgba(255, 255, 255, 0.29);
    padding:3px 5px;
}
.level span{
    color: rgba(255, 255, 255, 1);
  font-size: 13px;
  font-size: 16px;
  font-weight: 743;
  opacity:0.7;
  letter-spacing: 1px;
  font-family: "Big Shoulders", sans-serif;
  margin-bottom:2px;
}

.coins {
  color: #00ff88;
}

/* MAIN */

.main {
  flex: 1;
  display: grid;
  grid-template-columns: 260px 1fr 280px;
}

/* LEFT PANEL */

.leftPanel {
  border-right: 1px solid #111;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 0px;
}

.avatar {
  width: 194px;
  height: 175px;
  padding: 10px;
 border: 1px solid rgba(255, 255, 255, 0.13);
  position: relative;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.54) 100%
  );

  align-self: center;
}

.avatar img{
  width:100%;
  height:100%;
  object-fit:cover;
}


.corner{
  position:absolute;
  width:8px;
  height:8px;
 
}


.topLeft{
  top:-1px;
  left:-1px;
  border-top: 2px solid rgba(232, 74, 74, 1);
  border-left: 2px solid rgba(232, 74, 74, 1);
}


.topRight{
  top:-1px;
  right:-1px;
   border-top: 2px solid rgba(232, 74, 74, 1);
   border-right: 2px solid rgba(232, 74, 74, 1);
}



.bottomLeft{
  bottom:-1px;
  left:-1px;
  border-bottom: 2px solid rgba(232, 74, 74, 1);
  border-left: 2px solid rgba(232, 74, 74, 1);
}



.bottomRight{
  bottom:-1px;
  right:-1px;
  border-bottom: 2px solid rgba(232, 74, 74, 1);
  border-right: 2px solid rgba(232, 74, 74, 1);
}

.profileInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left:10px;
}

.name {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap:5px;
}
.name1{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
  padding-left:10px;
  gap:5px;
}

.label {
  font-size: 14px;
  font-weight: 400;
  color:white;
  font-family: "Iceland", sans-serif;
  letter-spacing: 1px;
}

.value {
  font-size: 13px;
  font-size: 18px;
  font-weight: 743;
  letter-spacing: 1px;
  color: #ff3d3d;
  font-family: "Big Shoulders", sans-serif;
}

.status {
background: rgba(232, 74, 74, 1) ;
width:80%;
position: relative;
display:flex;
align-items: flex-start;
padding:2px 5px;
padding-right:0px;
font-size: 13px;
  font-size: 18px;
  font-weight: 743;
  
  color: black;
  font-family: "Big Shoulders", sans-serif;
}
.status::after{
  content:"";
  position:absolute;
  right:0;
  top:0;
  height:100%;
  width:60px;

  background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="120" height="70" viewBox="0 0 120 70"><g stroke="black" stroke-width="4" fill="none"><polygon points="30,5 60,5 75,30 60,55 30,55 15,30"/><polygon points="75,30 105,30 120,55 105,80 75,80 60,55"/><polygon points="75,-20 105,-20 120,5 105,30 75,30 60,5"/></g></svg>');
  
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}
.connect {
 
  width:82%;
  display:flex;
  align-items: flex-start;
  background: transparent;
  border: 1px solid red;
  color: #ff3d3d;
  justify-content: space-between;
  padding:2px 5px;
  cursor: pointer;
  font-size: 13px;
  font-size: 18px;
  font-weight: 743;
  font-family: "Big Shoulders", sans-serif;
}

.motto {
  margin-top: auto;
  font-size: 10px;
  opacity: 0.6;
}

/* CENTER */

.centerPanel {
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagePlaceholder {
  width: 80%;
  height: 420px;
  border: 1px solid #111;
  background: #02030a;
}

.caption {
    position: absolute;
    top:10px;
  text-align: center;
  max-width: 600px;
  font-size: 13px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Iceland", sans-serif;
}
.tagline{
    font-size: 13px;
  font-size: 12px;
  font-weight: 400;
  color:rgba(255, 255, 255, 1);
  opacity: 0.7;
  font-family: "Iceland", sans-serif;
}

/* RIGHT PANEL */

.rightPanel {
  border-left: 1px solid #111;
  padding: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.questname{
    background:rgba(232, 74, 74, 0.3);
    display: block;
    padding:8px;
    /* opacity: 10%; */
    width:80%;
    backdrop-filter: blur(10px);
      font-size: 14px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color:rgba(255, 255, 255, 1);
  opacity: 0.7;
  font-family: "Iceland", sans-serif;
}
.upper{
    border-left:3px solid rgba(232, 74, 74, 1);
}

.questCard {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  color:rgba(122, 122, 122, 1);
  font-family: "Iceland", sans-serif;
}



.rewards {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  color: #ffa500;
  padding-left:15px;
}
.rewards span{
    width:40px;
}

.settings{
  display:flex;
  flex-direction:column;
  gap: 10px;
   font-family: "Big Shoulders", sans-serif;
}

.row{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.label1{
  font-size:18px;
  
  color:#ff5a5a;
}

.box{
  border:1px solid rgba(255,255,255,0.15);
  display:flex;
  padding:5px 7px;
  justify-content:center;
  align-items:center;
  font-size:18px;
  color:#aa4444;
  cursor:pointer;
  transition:all 0.25s ease;
}

.box:hover{
  border-color:#ff5a5a;
}

.active{
  border:2px solid #ff5a5a;
  color:#ff5a5a;
  box-shadow:0 0 10px rgba(255,70,70,0.4);
}
/* BOTTOM */

.bottomTabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  
  padding: 12px;
}

.bottomTabs button {
  background: #111;
  border: none;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
}

.active {
  background: #aa0000;
}